/* css del home */
header.headerblock{
    margin-top: 8%;
    margin-left:1%;
    font-size: 45px;
    width: 90vw;
    font-family: 'Zen Dots', cursive;
    color: #21252954;
}
.listablock{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    color: #10101154;
    margin-left:1%;
    height: 30%;
    width: 90%;
    box-sizing: border-box;
    align-items: stretch;
    /*nash*/
    overflow: scroll;
}
/*NO S.B. DISPL*/
.listablock::-webkit-scrollbar{
    display: none;
}

    
.contedorblock{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;

    margin-left: 10%;
}

.nombreblock{
    justify-content: flex-start;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0%;
    margin-bottom: 0%;
}
/*nash*/
.imagenesblock{
    height: 220px;
    width: 200px;
}

.listablocky.artistas li a{
    color: #212529;
    text-decoration: none;
}

.listitaalbums li a{
    color: #212529;
    text-decoration: none;
}


/* css de playlist */
.headerplay{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 45px;
    font-family: 'Zen Dots', cursive;
    color: #21252954;
}

.listaplay{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contenedorplay{
    margin: 1% 10% 1% 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 20vh;
    background-color: rgba(16, 30, 224, 0.192);
    border: dotted 3px rgba(255, 0, 221, 0.219);
}

.nombreplay{    
    margin: 0%;
    margin-left:5%;
    margin-top: 2%;
    margin-bottom: 0%;
    height: 100%; 
    width: 30%;
}

.playsong{
    list-style: none;
}

.imagenesplay{
    height: 100%;
    width: 10%;
}


/* generos html */ 
.topgenre{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 45px;
    color: black;
}
.genr{
    text-align: center;
    font-size: 25px; 
    padding-bottom: 20px;
    font-family: 'Zen Dots', cursive;
    color: whitesmoke;
}
/* detalles generos */ 
.h3s{
    text-align: justify;
    font-size: 35px;
    text-decoration: double underline;
}
.list{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
/* detalles albums */ 
.headalbum{
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 45px;
    font-family: 'Zen Dots', cursive;
    color: #21252954;
    text-align: center;
}
.albumz{
    margin: 5%;
    text-align: center;
    color: black;
}
/* detalles artistas */
.art{
    margin: 3%;
    color: black;
    text-align: center;
}
.adetailimg{
    height: 60%;
    width: 60%;
}
/* detalles canciones */ 
.bodsongs{
    color: black;
    text-align: center;
    margin: 5%;
}
.detailimg{
    height: 30%;
    width: 30%;
}